section.card {
  margin-bottom: 40px;
}

figure.image img {
  object-fit: cover;
}

.taglist {
  margin-top: 2vh;
}

.icon::after {
  padding: 0px 5px 0px 5px;
  background: orange;
  color: white;
  border-radius: 1000px;
}
