.box {
    border-radius: 0%;
  }
  
  .is-size-7 {
    font-family: monospace;
  }
  
  .icon {
    margin: 20px;
  }
  
  .badge {
    padding: 0px 5px 0px 5px;
    background: orange;
    color: white;
    border-radius: 50%;
  }